[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/walteralv/TDB-Client-Gateway.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/walteralv/TDB-aut-microservice.git
